{% for reservation in basket_items %}
    <div class="container my-2">
        <div class="row align-items-center border rounded p-2">
            <div class="col-md-9">
                <span class="d-block"><b>Страна: </b>{{ reservation.accommodation.country.name|title }}</span>
                <span class="d-block"><b>Размещение: </b>{{ reservation.accommodation.name|title }}</span>
                <span class="d-block"><b>Стоимость суток: </b>{{ reservation.accommodation.price }}&nbspруб</span>
            </div>
            <div class="col-md-3 d-flex flex-column align-items-end">
                <label><b>Количество ночей:</b></label>
                <input type="number" name="{{ reservation.pk }}" min="0" value="{{ reservation.nights }}" class="form-control mb-2" style="width: 80px;">
                <a href="{% url 'basket:remove' reservation.pk %}" class="btn btn-danger btn-sm">
                    удалить
                </a>
            </div>
        </div>
    </div>
{% endfor %}

{% if basket_items %}
    <div class="basket_summary text-right mt-3">
        Забронировано {{ total_nights }} суток, общей стоимостью {{ total_cost }} руб
    </div>
{% endif %}
